<div class="todo-item">
  <input type="checkbox"
         class="todo-checkbox"
         (click)="completeItem()"
         [checked]="item.completed"/>
  <span *ngIf="!item.isEdit" class="todo-title" [ngClass]="{'todo-complete': item.completed}">
    {{ item.title }}
  </span>

  <input class="todo-input" *ngIf="item.isEdit" #updateElementRef [value]="item.title">

  <button [disabled]="item.completed" *ngIf="!item.isEdit" class="btn" [ngClass]="{'btn-disabled': item.completed}" (click)="editMode()">Edit</button>
  <button *ngIf="item.isEdit" class="btn" (click)="saveItem(updateElementRef)">Save</button>
  <button *ngIf="!item.isEdit" class="btn btn-red" (click)="removeItem()">Remove</button>
  <button *ngIf="item.isEdit" class="btn btn-red" (click)="editMode()">Cancel</button>
</div>
